.hubungi-kami2 {
  position: absolute;
  top: 14.25rem;
  left: calc(50% - 213px);
  font-family: "Luckiest Guy";
  color: #ff8400;
  display: inline-block;
  width: 26.63rem;
}
.kami-sangat-senang {
  margin: 0;
}
.kami-sangat-senang-container {
  position: absolute;
  top: 21.63rem;
  left: calc(50% - 642px);
  font-size: 2rem;
  text-align: center;
}
.navbar-inner {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: #ff8400;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
  height: 5.94rem;
}
.proction-removebg-preview-12 {
  position: absolute;
  width: calc(100% - 1229px);
  top: 0.75rem;
  right: 72.94rem;
  left: 3.88rem;
  height: 4.44rem;
}
.logo-marhaban-fc-removebg-prev-icon6 {
  position: absolute;
  top: 1.31rem;
  left: 1.44rem;
  width: 12.25rem;
  height: 3.88rem;
  object-fit: cover;
}
.span1 {
  color: #000;
}
.beranda2 {
  display: inline-block;
  width: 6.13rem;
  flex-shrink: 0;
  cursor: pointer;
}
.beranda2,
.kontak2,
.menu2 {
  position: relative;
  font-weight: 800;
}
.menu2 {
  cursor: pointer;
}
.kontak2 {
  color: #fff;
}
.beranda-container {
  position: absolute;
  top: 1.69rem;
  right: 3.88rem;
  width: 46.63rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.63rem;
  box-sizing: border-box;
  gap: 4.06rem;
}
.navbar2 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: #ff8400;
  box-shadow: 0 16px 32px rgba(171, 190, 209, 0.3);
  height: 5.94rem;
  font-size: 1.25rem;
}
.whatsapp-image-2023-11-13-at-1-icon {
  position: absolute;
  top: 3.56rem;
  left: calc(50% + 246px);
  width: 16.38rem;
  height: 26.56rem;
  object-fit: cover;
}
.group-child11 {
  position: absolute;
  top: 0;
  left: calc(50% - 347px);
  border-radius: 5px;
  background-color: #fbe18a;
  width: 43.38rem;
  height: 12rem;
}
.terimakasih-permintaan-anda-container {
  position: absolute;
  top: 3.19rem;
  left: calc(50% - 269px);
}
.rectangle-parent4 {
  position: absolute;
  top: 0;
  left: calc(50% - 508px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 43.38rem;
  height: 12rem;
}
.group-child12 {
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  border-radius: 5px;
  background-color: #fb8302;
  border: 10px solid transparent;
  box-sizing: border-box;
  width: 12.5rem;
  height: 3.63rem;
  opacity: 0.8;
}
.kembali {
  position: absolute;
  top: 0.75rem;
  left: calc(50% - 56px);
  display: inline-block;
  width: 6.94rem;
}
.rectangle-parent5 {
  position: absolute;
  top: 35.06rem;
  left: calc(50% + 277px);
  width: 12.5rem;
  height: 3.63rem;
  cursor: pointer;
  font-size: 1.5rem;
}
.whatsapp-image-2023-11-13-at-1-parent {
  position: absolute;
  top: 36rem;
  left: calc(50% - 481px);
  width: 63.5rem;
  height: 38.69rem;
  font-size: 1.88rem;
  color: #000;
}
.arrows-icon2 {
  position: absolute;
  right: 1.06rem;
  bottom: 1.25rem;
  width: 2.13rem;
  height: 2.13rem;
}
.group-child13 {
  top: 1.22rem;
  left: -0.03rem;
  border-right: 1px solid #fff;
  box-sizing: border-box;
  width: 0.06rem;
  height: 25.44rem;
}
.div3,
.group-child13,
.icon6 {
  position: absolute;
}
.icon6 {
  top: 14rem;
  left: 5.06rem;
  width: 1.94rem;
  height: 1.5rem;
  overflow: hidden;
}
.div3 {
  top: -35%;
  left: 0;
}
.phone-number2 {
  position: absolute;
  top: 14.13rem;
  left: 7.81rem;
  width: 10.19rem;
  height: 1.25rem;
}
.email7 {
  position: absolute;
  top: -3.03%;
  left: 0.69%;
}
.email6,
.icon7,
.icon8 {
  position: absolute;
  top: 11.25rem;
  left: 7.69rem;
  width: 18.19rem;
  height: 2.06rem;
}
.icon7,
.icon8 {
  top: 11.56rem;
  left: 5.06rem;
  width: 1.94rem;
  height: 1.5rem;
  overflow: hidden;
}
.icon8 {
  top: 7.38rem;
  height: 2.19rem;
}
.wisconsin-ave-suite2 {
  position: absolute;
  width: 100%;
  top: 2.82%;
  left: 0;
  display: flex;
  align-items: center;
}
.address4 {
  position: absolute;
  top: 6.38rem;
  left: 7.81rem;
  width: 36.75rem;
  height: 4.44rem;
}
.hubungi-kami3 {
  position: absolute;
  top: 0;
  left: 5.25rem;
  font-size: 4rem;
  display: inline-block;
  width: 29.44rem;
}
.line-container {
  position: absolute;
  top: 2.06rem;
  left: 24rem;
  width: 44.56rem;
  height: 26.63rem;
}
.social-icon8 {
  position: relative;
  width: 1.88rem;
  height: 1.88rem;
}
.social-container {
  position: absolute;
  top: 12.38rem;
  left: 8rem;
  width: 10.56rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
.group-icon4 {
  position: absolute;
  height: 8.82%;
  width: 6.04%;
  top: 89.21%;
  right: 13.18%;
  bottom: 1.97%;
  left: 80.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.wisconsin-ave-suite-container5 {
  line-break: anywhere;
  width: 100%;
}
.wisconsin-ave-suite-container4 {
  position: absolute;
  width: 100%;
  top: 2.86%;
  left: 0;
  display: flex;
  align-items: center;
}
.address5 {
  position: absolute;
  top: 4.75rem;
  left: 1.31rem;
  width: 19.69rem;
  height: 6.56rem;
}
.logo-marhaban-fc-removebg-prev-icon7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 17.88rem;
  height: 3.88rem;
  object-fit: cover;
}
.frame-parent1 {
  position: absolute;
  top: 3.69rem;
  left: 3rem;
  width: 21rem;
  height: 14.25rem;
}
.footer-772 {
  position: absolute;
  width: 100%;
  top: 89.44rem;
  right: 0;
  left: 0;
  background-color: #ff8400;
  height: 30.5rem;
  font-size: 1.38rem;
  color: #fff;
}
.kontak-proses {
  position: relative;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  height: 119.94rem;
  overflow: hidden;
  text-align: left;
  font-size: 4rem;
  color: #4f200d;
  font-family: Poppins;
}
