.copyrigth {
  position: absolute;
  top: 73.44rem;
  left: 34.56rem;
  font-size: 1.5rem;
  font-family: "Luckiest Guy";
  color: #fff;
}
.navbar-child1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff8400;
  width: 90rem;
  height: 5.94rem;
}
.proction-removebg-preview-13 {
  position: absolute;
  top: 0.75rem;
  left: 3.88rem;
  width: 13.19rem;
  height: 4.44rem;
}
.logo-marhaban-fc-removebg-prev-icon8 {
  position: absolute;
  top: 1.31rem;
  left: 1.44rem;
  width: 12.25rem;
  height: 3.88rem;
  object-fit: cover;
}
.span2 {
  color: #000;
}
.beranda3 {
  display: inline-block;
  width: 6.13rem;
  flex-shrink: 0;
  cursor: pointer;
}
.beranda3,
.menu3,
.paket-fc4 {
  position: relative;
  font-weight: 800;
}
.menu3 {
  cursor: pointer;
}
.paket-fc4 {
  color: #fff;
}
.frame-div {
  position: absolute;
  top: 1.69rem;
  right: 4rem;
  width: 46.63rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.63rem;
  box-sizing: border-box;
  gap: 4.06rem;
}
.navbar3 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: #ff8400;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.25);
  height: 5.94rem;
  font-size: 1.25rem;
}
.arrows-icon3 {
  position: absolute;
  right: 1.06rem;
  bottom: 1.25rem;
  width: 2.13rem;
  height: 2.13rem;
}
.group-child14 {
  top: 1.22rem;
  left: -0.03rem;
  border-right: 1px solid #fff;
  box-sizing: border-box;
  width: 0.06rem;
  height: 25.44rem;
}
.div4,
.group-child14,
.icon9 {
  position: absolute;
}
.icon9 {
  top: 14rem;
  left: 5.06rem;
  width: 1.94rem;
  height: 1.5rem;
  overflow: hidden;
}
.div4 {
  top: -35%;
  left: 0;
}
.phone-number3 {
  position: absolute;
  top: 14.13rem;
  left: 7.81rem;
  width: 10.19rem;
  height: 1.25rem;
}
.email9 {
  position: absolute;
  top: -3.03%;
  left: 0.69%;
}
.email8,
.icon10,
.icon11 {
  position: absolute;
  top: 11.25rem;
  left: 7.69rem;
  width: 18.19rem;
  height: 2.06rem;
}
.icon10,
.icon11 {
  top: 11.56rem;
  left: 5.06rem;
  width: 1.94rem;
  height: 1.5rem;
  overflow: hidden;
}
.icon11 {
  top: 7.38rem;
  height: 2.19rem;
}
.wisconsin-ave-suite3 {
  position: absolute;
  width: 100%;
  top: 2.82%;
  left: 0;
  display: flex;
  align-items: center;
}
.address6 {
  position: absolute;
  top: 6.38rem;
  left: 7.81rem;
  width: 36.75rem;
  height: 4.44rem;
}
.hubungi-kami4 {
  position: absolute;
  top: 0;
  left: 5.25rem;
  font-size: 4rem;
  display: inline-block;
  width: 29.44rem;
}
.line-parent1 {
  position: absolute;
  top: 2.06rem;
  left: 24rem;
  width: 44.56rem;
  height: 26.63rem;
}
.social-icon12 {
  position: relative;
  width: 1.88rem;
  height: 1.88rem;
}
.social-parent1 {
  position: absolute;
  top: 12.38rem;
  left: 8rem;
  width: 10.56rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
.group-icon5 {
  position: absolute;
  height: 8.82%;
  width: 6.04%;
  top: 89.21%;
  right: 13.18%;
  bottom: 1.97%;
  left: 80.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.wisconsin-ave-suite-container7 {
  line-break: anywhere;
  width: 100%;
}
.wisconsin-ave-suite-container6 {
  position: absolute;
  width: 100%;
  top: 2.86%;
  left: 0;
  display: flex;
  align-items: center;
}
.address7 {
  position: absolute;
  top: 4.75rem;
  left: 1.31rem;
  width: 19.69rem;
  height: 6.56rem;
}
.logo-marhaban-fc-removebg-prev-icon9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 17.88rem;
  height: 3.88rem;
  object-fit: cover;
}
.frame-parent2 {
  position: absolute;
  top: 3.69rem;
  left: 3rem;
  width: 21rem;
  height: 14.25rem;
}
.footer-773 {
  position: absolute;
  width: 100%;
  top: 89.44rem;
  right: 0;
  left: 0;
  background-color: #ff8400;
  height: 30.5rem;
  font-size: 1.38rem;
  color: #fff;
}
.peralatan {
  margin: 0;
}
.peralatan-produksi {
  position: absolute;
  top: 48.63rem;
  left: calc(50% + 170px);
  display: inline-block;
  width: 11.75rem;
}
.whatsapp-image-2023-11-12-at-0 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  width: 28.19rem;
  height: 28.81rem;
  object-fit: cover;
}
.whatsapp-image-2023-11-12-at-0-wrapper {
  position: absolute;
  top: 47.88rem;
  left: calc(50% - 618px);
  width: 28.19rem;
  height: 28.81rem;
}
.paket-promo {
  position: absolute;
  top: 43.13rem;
  left: calc(50% + 170px);
  font-size: 4rem;
  font-family: "Luckiest Guy";
  color: #ff8400;
}
.spatula-removebg-prev-icon {
  position: absolute;
  top: 48.75rem;
  left: calc(50% - 5px);
  width: 7.75rem;
  height: 8.31rem;
  object-fit: cover;
}
.carcaa-de-frango-cru-na-tbua-icon {
  position: absolute;
  top: 57.63rem;
  left: calc(50% - 24px);
  width: 10.13rem;
  height: 8.94rem;
  object-fit: cover;
}
.bahan-baku-perdana-container {
  position: absolute;
  top: 58.75rem;
  left: calc(50% + 170px);
  display: inline-block;
  width: 13.69rem;
}
.gadis-muslim-dengan-jilbab-men-icon {
  position: absolute;
  top: 68rem;
  left: calc(50% - 40px);
  width: 12.13rem;
  height: 9.81rem;
  object-fit: cover;
}
.pelatihan-dan-sertifikat-container {
  position: absolute;
  top: 69.94rem;
  left: calc(50% + 170px);
  display: inline-block;
  width: 15.88rem;
}
.rp-6000000 {
  position: absolute;
  top: 81.5rem;
  left: calc(50% + 18px);
  font-size: 2.25rem;
}
.group-child15,
.pesan-sekarang {
  position: absolute;
  left: calc(50% - 150px);
  width: 18.75rem;
}
.group-child15 {
  top: calc(50% - 25px);
  border-radius: 5px;
  background-color: #ff8400;
  border: 1px solid #000;
  box-sizing: border-box;
  height: 3.13rem;
}
.pesan-sekarang {
  top: calc(50% - 24px);
  font-weight: 600;
  display: inline-block;
  height: 2.84rem;
  cursor: pointer;
}
.rectangle-parent6 {
  position: absolute;
  top: calc(50% + 348.5px);
  left: calc(50% + 279px);
  width: 18.75rem;
  height: 3.13rem;
  text-align: center;
  font-size: 1.88rem;
  color: #000;
}
.bergabunglah-dengan-franchise {
  position: absolute;
  top: 8.81rem;
  left: calc(50% - 89px);
  display: inline-block;
  width: 42.25rem;
}
.paket-franchise {
  position: absolute;
  top: 3.81rem;
  left: calc(50% - 89px);
  font-size: 4rem;
  font-family: "Luckiest Guy";
  color: #ff8400;
}
.orange-and-white-modern-electr {
  position: absolute;
  top: 0;
  left: calc(50% - 587px);
  width: 21.13rem;
  height: 28.38rem;
  object-fit: cover;
}
.group-child16 {
  position: absolute;
  top: 0;
  left: calc(50% - 275px);
  border-radius: 5px;
  background-color: #ff8400;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 34.38rem;
  height: 3.13rem;
}
.dawnload-proposal-kemitraan {
  position: absolute;
  top: 0.25rem;
  left: calc(50% - 197px);
  font-weight: 600;
  display: inline-block;
  width: 29.5rem;
  cursor: pointer;
}
.export-pdf-icon {
  position: absolute;
  top: 0.5rem;
  left: calc(50% - 261px);
  width: 2.81rem;
  height: 2.18rem;
  object-fit: cover;
}
.rectangle-parent7 {
  position: absolute;
  top: 19.94rem;
  left: calc(50% - 89px);
  width: 34.38rem;
  height: 3.13rem;
  font-size: 1.75rem;
  color: #000;
}
.bergabunglah-dengan-franchise-parent {
  position: absolute;
  top: 10.38rem;
  left: calc(50% - 621px);
  width: 73.38rem;
  height: 28.38rem;
}
.paket-fc3 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 119.94rem;
  overflow: hidden;
  text-align: left;
  font-size: 2rem;
  color: #4f200d;
  font-family: Poppins;
}
